<div class="jumbotron">
    <h1>Master Mind Game - API</h1>
    <p class="lead">by Rafael Barros, Ewerton Silva, Anderson Berg</a></p>
</div> 
@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>*@

    @*<input type="button" id="PostGuess" value="Guess" />
    <textarea id="Result" rows="6" cols="100"></textarea>*@
@*</div>*@

@*<script type="text/javascript">
    $(document).ready(function () {


        $("#PostGuess").click(function () {

            var UserGuessModel = { GameName: "game2", UserName: "user4", GameColorsCodes: ["1", "2", "3", "4", "5", "6", "7", "7"] };
            $.ajax({
                type: "POST",
                data: JSON.stringify(UserGuessModel),
                url: "http://localhost:1338/api/MasterMindGame/UserGuess",
                contentType: "application/json",
                cache: false

            }).done(function (msg) {

                $("#Result").html(msg);

            });

        })

       


    });
</script>*@